@charset "utf-8";

.mysheet .o_form_sheet {   
    max-width: 90% !important;  
    min-width: 650px;
    min-height: 330px;
    padding: 16px;
    border: 1px solid #c8c8d3;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background: white;
    margin: 24px auto;
}

.mysheet .o_group.o_inner_group > tbody > tr > td.o_td_label {
    min-width: 305px !important;
}
